<web-app>
<servlet>
<servlet-name>dbcheck</servlet-name>
<servlet-class>Home</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>dbcheck</servlet-name>
<url-pattern>/dbcheck</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>adduser</servlet-name>
<servlet-class>add</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>adduser</servlet-name>
<url-pattern>/adduser</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>viewuser</servlet-name>
<servlet-class>view</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>viewuser</servlet-name>
<url-pattern>/viewuser</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>searchuser</servlet-name>
<servlet-class>search</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>searchuser</servlet-name>
<url-pattern>/searchuser</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>deleteuser</servlet-name>
<servlet-class>delete</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>deleteuser</servlet-name>
<url-pattern>/deleteuser</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>updateuser</servlet-name>
<servlet-class>update</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>updateuser</servlet-name>
<url-pattern>/updateuser</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>updatenew</servlet-name>
<servlet-class>update_details</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>updatenew</servlet-name>
<url-pattern>/updatenew</url-pattern>
</servlet-mapping>
</web-app>