<web-app>
<servlet>
<servlet-name>dbcheck</servlet-name>
<servlet-class>Home</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>dbcheck</servlet-name>
<url-pattern>/dbcheck</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>loginservlet</servlet-name>
<servlet-class>loginservlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>loginservlet</servlet-name>
<url-pattern>/login</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>profileservlet</servlet-name>
<servlet-class>profileservlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>profileservlet</servlet-name>
<url-pattern>/profile</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>logoutservlet</servlet-name>
<servlet-class>logoutservlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>logoutservlet</servlet-name>
<url-pattern>/logout</url-pattern>
</servlet-mapping>
</web-app>