.topnav a{
  float: left;
   color: #d9dab0;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 16px;
 background-color: #00587a;
 }
.topnav a:hover {
   background-color: #eb596e;
   color: #f4f9f9;
 }
.topnav a.active {
   background-color: #4CAF50;
   color: white;
 }

.mail a{
float: centre;
color:rgb(41, 89, 179);
text-align: centre;
font-size: 17px;
text-decoration: none;
padding: 6px 8px;
}
.fade-out {
animation: fadeOut ease 3s;
animation-iteration-count: infinite;
}
@keyframes fadeOut {
0% {
 opacity:1;
}
100% {
 opacity:0;
}
}
.animation {
width: 100px;
 height: 100px;
position: relative;
animation-name: a1;
animation-duration: 4s;
animation-iteration-count: infinite;
}
hr.solid {
  border-top: 3px solid #bbb;
}
.box{
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}
.coloumn{
  float:left;
  width:25%;
}
@keyframes a1 {
  from {background-color: red;}
  to {background-color: yellow;}
}

hr.solid {
  border-top: 5px solid #bbb;
}
ol {
  background: #f4f9f9;
 padding: 20px;
}

ul {
  background: #ccf2f4;
  padding: 20px;
}

ol li {
 background: #ffe5e5;
 padding: 5px;
  margin-left: 35px;
}
ul li {
  background: white;
  margin: 5px;
}
.box_1{
  width: 300px;
  border: 15px solid #1687a7;
  padding: 50px;
  margin: 20px;
}
img{
  transition: transform 1s;
}
img:hover{
  transform:rotateY(360deg);
}
hr.solid {
  border-top: 3px solid #bbb;
}
table {
  border: 1px solid black;
width : 40%;
border-collapse: collapse;
border: 1px solid black;
margin-top: 2px;
position:absolute;
transition: transform 1s;
}
table:hover {
  transform: rotateZ(360deg);
}
th {
  padding: 15px;
text-align:centre;
background-color: #f2a154;
border: 2px solid black;
}
tr:hover {background-color: #ffdcdc;}
tr:nth-child(even) {background-color: #f2f2f2;}
td{
padding: 15px;
text-align:centre;
border: 1px solid black;
}

.outline{
  border: 5px groove #ffcb91;
  outline:#6ddccf solid 15px;
  margin:auto;
      padding:20px;
  text-align:left;
  }
  .tooltip {
		margin: auto;
  		position: relative;
  		display: inline-block;
		background:white;
  		border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
		}
		.tooltip .tooltiptext {
  		visibility: hidden;
 		width: 120px;
 	 	background-color: black;
  		color: #fff;
  		text-align: center;
  		padding: 5px 0;
  		border-radius: 6px;
 		position: absolute;
  		z-index: 1;
		}

		.tooltip:hover .tooltiptext {
  		visibility: visible;
		}
		input[type=text] {
  		width: 30%;
  		padding: 12px 20px;
  		margin: 8px 0;
		background-color:rgb(243, 240, 240);
		color: #fff;
  		box-sizing: border-box;
}
		select {
 		width: 30%;
  		padding: 10px 15px;
 		border: none;
  		border-radius: 4px;
  		background-color: #f1f1f1;
		}
