table:hover {

    transform: scale(1.2);
  }
  th {
    padding: 15px;
  text-align:centre;
  background-color: #f2a154;
  border: 2px solid black;
  }
  h1{
    color: rgb(8, 42, 71);
  }
  tr:hover {background-color: #ffdcdc;}
  tr:nth-child(even) {background-color: #f2f2f2;}
  td{
  padding: 15px;
  text-align:centre;
  border: 1px solid black;
  }
  table {
    border: 1px solid black;
  width : 40%;
  border-collapse: collapse;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  transition: transform 0.3s;
  }